:root{
  --color1: #A8283C ;
  --color2: #3C1118 ;
  --color3: white ;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

.btn-outline-info{
  color: #A8283C !important;
  border-color: #A8283C !important;
}

.btn-outline-info:hover{
  color: var(--color3) !important;
  background-color: var(--color2) !important;
  border-color: var(--color1) !important;
  box-shadow: 0px 0px 8px black;
}

.btn-info{
  color: var(--color3) !important;
  background-color: var(--color2) !important;
  border-color: var(--color1) !important;
}

.btn-info:hover{
  color: var(--color3) !important;
  background-color: var(--color2) !important;
  border-color: var(--color1) !important;
  box-shadow: 0px 0px 8px black;
}

.bg-info{
  background-color: var(--color2) !important;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

